<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow IMG size 1400x480--> 
  <div class="carousel-inner" role="listbox" style=" width:100%; height: 480px !important; ">
    <div class="carousel-item ">
      <img src="{% static 'img/Code.jpg' %}" alt="Computer Engineer" class="img-fluid">
    </div>
    <div class="carousel-item active">
      <img src="{% static 'img/impossible.jpg' %}" alt="impossible" class="img-fluid" style="object-fit: fill;">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/dream.jpg' %}" alt="Dream" class="img-fluid" style="object-fit: fill;">
    </div>
  </div>

  <!-- Left and right controls --> 
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>


</div>
