#bannerComponent{
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

/* background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */

    /* background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
    background-color: var(--secondary-clr);
    background-image: linear-gradient(147deg, var(--secondary-clr) 0%, #000000 74%);
    
}

#bannerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-clr);
}

#bannerIntro {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

#bannerName {
    font-family: orbitron;
    font-size: 4rem;
    text-align: center;
}
