#timelineComponent *{
    z-index: 0;
}

#timelineComponent .card-title {
    font-size: 0.95rem ;
}

#timelineComponent .card-sub-title, #timelineComponent .card-description p{
    font-size: 0.75rem;
}

#timelineComponent .timeline-item-title {
    font-size: 0.7rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #timelineComponent .card-title {
        font-size: 1.1rem ;
    }
    
    #timelineComponent .card-sub-title, #timelineComponent .card-description p{
        font-size: 0.9rem;
    }
    
    #timelineComponent .timeline-item-title {
        font-size: 0.95rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #timelineComponent .card-title {
        font-size: 1.25rem ;
    }
    
    #timelineComponent .card-sub-title, #timelineComponent .card-description p{
        font-size: 1.05rem;
    }
    
    #timelineComponent .timeline-item-title {
        font-size: 1.1rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #timelineComponent .card-title {
        font-size: 1.4rem ;
    }
    
    #timelineComponent .card-sub-title, #timelineComponent .card-description p{
        font-size: 1.2rem;
    }
    
    #timelineComponent .timeline-item-title {
        font-size: 1.25rem;
    }
}