.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 10px 0px;
}

.section-part-large{
    flex: 0 1;
    width: 70%;
}

.section-part-large, .section-part-small{
    display: flex;
    align-items: flex-start;
}

.content-heading{
    padding: var(--small-padding);
    font-size: 2rem;
    color: var(--accent-clr);
    text-align: center;
    font-family: var(--font-highlight);
    margin: auto;
    font-size: 3rem;
    padding: var(--medium-padding);
}

.content-para{
    font-family: var(--font-text);
    font-size: 1.5rem;
    text-align: justify;
    padding: var(--small-padding);
    display: block;
    margin: 0px;
}

.vertical-line{
    height: 10rem;
    border: 0.25rem solid var(--accent-clr);;
    border-radius: 0.25rem;
}

.right-border{
    border-right: 0.25rem solid var(--accent-clr);
    border-radius: 0.25rem;
}

.left-border{
    border-left: 0.25rem solid var(--accent-clr);
    border-radius: 0.25rem;
}

.text-light{
    color: var(--primary-clr);
}

.text-dark{
    color: var(--secondary-clr);
}

.dark-bg{
    background-color: var(--secondary-clr);
}

.light-bg{
    background-color: var(--primary-clr);
}