<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #999999">

<!--Heading-->
<div class="jumbotron" style="padding-top: 10px;padding-bottom: 10px;margin-bottom: 0px;">
    <h1 style="text-align: center;">Gursahib Singh</h1> 
    <p style="text-align: center;">Computer Engineer</p> 
</div>


<!--Navigation bar-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="file:///F:/Projects/Website/MainPage.html">GS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">About</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">ML</a></li>
          <li><a href="#">Web</a></li>
          <li><a href="#">Android</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"href="#">Engineering <span class="caret"></span></a>
        		<ul class="dropdown-menu">
          			<li><a href="#">DBMS</a></li>
          			<li><a href="#">Entrepreneurship</a></li>
        		</ul>
      		</li>
        </ul>
      </li>
      <li><a href="#">Blog</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="padding-right: 10px">
      <li><a href="file:///F:/Projects/Website/ContactPage.html">Contact</a></li>
    </ul>
  </div>
</nav>

<!--Content Row-->
<div class="row" style="margin-left: 20px;margin-right: 20px;">
	<div class="col-md-9" style="background-color: #eeeeee;height:400px;">

		<blockquote class="blockquote-reverse">
			GOOD PLAYERS WIN RACES.<br/>
			GREAT ONES BREAK RECORDS.<br/>
			<mark>LEGENDS</mark> CHANGE THE GAME.<br/>
			<FOOTER>Anyonymous</FOOTER>
		</blockquote>
		<p style="padding-left: 30px;font-size: 25px; margin-top: 3px">
			Hi!<br/>
			Here you'll find all the information related to my academics, projects & interests. Also, I've dedicated a section to personal blogs. Do check it out as well.  
		</p>
	</div>
	<div class="col-md-3" style="height: 400px; background-color: #dddddd">
		<h3 style="padding-left: 20px">INTERESTS</h3>
		<ul style="font-size: 20px">
			<li>Computers</li>
			<li>Cricket</li>
			<li>Gymming</li>
			<li>Music</li>
			<li>Literature</li>
			<li>Finance</li>	
		</ul>
	</div>

</div> 
<!--Footer Bar-->
<nav class="navbar navbar-inverse" style="margin-bottom: 2px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GS</a>
    </div>
  </div>
</nav>
</body>
</html>