{% extends "layout/core-layout.html" %}
{% load static from staticfiles %}

{% block title %}
  About | Gursahib Singh
{% endblock %}    
{% block style %}
<style type="text/css">
  .navbar {
    background-color: rgb(155,155,155) !important;
    transition: background-color 200ms linear;
}
    .navbar .nav-link {
    color:#ffdcba !important;
    }
    .nav-item:hover .nav-link{
      background-color: #ffdcba;
      color:rgb(155,155,155) !important; 
      transition: background-color 300ms linear;
    }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
  }

  /* The Close Button */
  .close {
    color: #ffffff;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #AEFF00;
    text-decoration: none;
    cursor: pointer;
  }
  @media only screen and (max-width: 767px) {
    .card-img-top{
      width:450px !important;
    }
  }
</style>
{% endblock %}

{% block content %}

<div class="container" id="aboutCardContainer" style="margin-top: 70px">
  <div class="row"  style="padding-top: 20px">
    <div class="col-md-6 col-sm-12">
      <div class="card text-white" style="background-color: #115389">
        <img class="card-img-top" src="{% static 'img/software.jpg' %}" alt="Software Competencies">
        <div class="card-body">
          <h5 class="card-title">Software Competencies</h5>
          <p class="card-text">The most awaited information on this website!</p>
          <button id="SoftwareCompetencies" class="btn btn-primary" style="background-color:#ffffff;color: #115389;font-weight: 700">Find Out!</button>
        </div>  
      </div>        
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card" style="background-color: #c5bfbc">
        <img class="card-img-top" src="{% static 'img/qualification.jpg' %}" alt="Academic Qualifications">
        <div class="card-body">
          <h5 class="card-title">Academic Qualifications</h5>
          <p class="card-text">My past doesn't really haunt me!</p>
          <button id="AcademicQualifications" class="btn btn-primary"style="background-color:#000000;color: #c5bfbc;font-weight: 700">Find Out!</button>
        </div>  
      </div>
    </div>
  </div>
  <div class="row"  style="padding-top: 20px;padding-bottom: 20px">
    <div class="col-md-6 col-sm-12">
      <div class="card " style="background-color: #8ad8c6">
        <img class="card-img-top" src="{% static 'img/achievements.jpg' %}" alt="Academic Achievements">
        <div class="card-body">
          <h5 class="card-title">Academic Achievements</h5>
          <p class="card-text">Ok, I think I can reflect on something special!</p>
          <button id="AcademicAchievements" class="btn btn-primary"style="background-color:#000000;color:#8ad8c6;font-weight: 700">Find Out!</button>
        </div>  
      </div>       
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card" style="background-color:#e2d6bd;">
        <img class="card-img-top" src="{% static 'img/extra.gif' %}" alt="Extra Curricular Activities">
        <div class="card-body">
          <h5 class="card-title">Extra Curricular Activities</h5>
          <p class="card-text">I'm like Jack who becomes dull if he doesn't play.</p>
          <button id="ExtraCurricular" class="btn btn-primary"style="background-color:#000000;color: #e2d6bd;font-weight: 700">Find Out!</button>
        </div>  
      </div>
    </div>
  </div>
</div>
<div id="aboutModal" class="modal" >

  <!-- Modal content -->
  <div class="modal-content" style="background-color:  #243D42;">
    <span id="closeBtn"class="close justify-content-end">&times;</span>
    <div id="modelText"></div>
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
window.onload = myMain;

function myMain() {
  document.getElementById("aboutCardContainer").onclick = buton;
}

var temp;
function buton(e) {
  if (e.target.tagName == 'BUTTON') {
    //var filename = 'home/'.concat('text',e.target.id,'.txt')
    var filename='text'.concat(e.target.id,'.html')
    var self=this
    var contents=""
    
    $.ajax({
      url: "{% url 'get_ajax' %}",
      type: 'POST',
      cache: false,
      data: {'filename':filename},
      success:function(result){
        // console.log(result);
        document.getElementById('modelText').innerHTML= result;
        // result=""
      }
    });
    //document.getElementById('modelText').innerHTML = selfcontents
    var modal = document.getElementById('aboutModal');
    modal.style.display = "block";  
  }
}

// Get the modal
var modal = document.getElementById('aboutModal');

// Get the button that opens the modal
//var btn = document.getElementById("btnRead");


// Get the <span> element that closes the modal
var span = document.getElementById("closeBtn");


// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  document.getElementById('modelText').innerHTML=""
  modal.style.display = "none";
}


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
  
}
</script>
{% endblock %}              