{% extends "layout/core-layout.html" %}
<!--
<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #999999">
-->	

  <!--Heading-->
  <!--
	<div class="jumbotron" style="padding-top: 10px;padding-bottom: 10px;margin-bottom: 0px;">
    	<h1 style="text-align: center;">Gursahib Singh</h1> 
    	<p style="text-align: center;">Computer Engineer</p> 
	</div>


	<div class="app-container">
    <div class="row content-container">
  -->
        <!-- <navbar> 
         {% include 'navbar-top/navbar-top.html' %}
         </navbar> -->
    {% block title %}
      About | Gursahib Singh
    {% endblock %}    
    {% block content %}
  <div class="container">
        <div class="row" style="margin-left: 20px;margin-right: 20px;">
          <div class="col-md-12" style="background-color: #f0f0f0;height:250px;">
            <h1>Academic Qualifications</h1>
            <h3>Currently pursuing B.E. from Thapar Institute of Engineering & Technology <br/> Present CGPA:- 9.45</h3>
            <table class="table-bordered" style="width:100%;height: 100px;font-size: 20px;text-align: center;" >
              <thead >
                <tr>
                  <th style="text-align: center;">Examination</th>
                  <th style="text-align: center;">Year</th>
                  <th style="text-align: center;">Board/University</th>
                  <th style="text-align: center;">School/College</th>
                  <th style="text-align: center;">%age/CGPA</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Class XII</td>
                  <td>2015</td>
                  <td>CBSE</td>
                  <td>Kundan Vidya Mandir,Ludhiana</td>
                  <td>95.6</td>
                </tr>
                <tr>
                  <td>Class X</td>
                  <td>2013</td>
                  <td>CBSE</td>
                  <td>Kundan Vidya Mandir,Ludhiana</td>
                  <td>10</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row" style="margin-left: 20px;margin-right: 20px;">
          <div class="col-md-12" style="background-color: #fefefe;height:200px;">
              <h1>Software Competencies</h1><br/>
              <table class="table-bordered" style="width: 100%;height: 100px;font-size: 20px">
                <tr>
                  <th>Worked on</th>
                  <td style="padding-left: 20px">C/C++, Django, JavaScript, HTML, VueJS(Frontend Framework)</td>
                </tr>
                <tr>
                  <th>Knows about</th>
                  <td style="padding-left: 20px">SQL, Pyhton, R</td>
                </tr>
                <tr>
                  <th>Other skills</th>
                  <td style="padding-left: 20px">Web Development, Problem Solving, Machine Learning & Data Analytics</td>
                </tr>
              </table>
          </div>
        </div>
        <div class="row" style="margin-left: 20px;margin-right: 20px;">
          <div class="col-md-12" style="background-color: #f0f0f0;height:175px;">
            <h1>Academic Distinctions</h1>
            <table class="table-bordered" style="width: 100%;height: 100px;font-size: 20px">
                <tr>
                  <th>Scholarships</th>
                  <td style="padding-left: 20px">Merit Scholarship worth ₹2,45,000 (2015-2018) awarded to 5/1500 students.</td>
                </tr>
                <tr>
                  <th rowspan="2">Scholastic Achievments</th>
                  <td style="padding-left: 20px">• Distinction in XII, one of 20 selected from a batch of 400 students .</td>
                </tr>
                <tr>
                  <td style="padding-left: 20px">• Merit Certificate in Class X for being among the top students in school.</td>
                </tr>
              </table>
          </div>
        </div>
        <div class="row" style="margin-left: 20px;margin-right: 20px;">
          <div class="col-md-12" style="background-color: #fefefe;height:300px;">
            <h1>Extra Curricular Activities</h1>
            <table class="table-bordered" style="width: 100%;height: 100px;font-size: 20px">
                <tr>
                  <th rowspan="2">Responsibilities</th>
                  <td style="padding-left: 20px"> • Head Boy of School(2014-2015)</td>
                </tr>
                <tr>
                  <td style="padding-left: 20px"> • Editor of college society's FB page.</td>
                </tr>
                <tr>
                  <th>Sports</th>
                  <td style="padding-left: 20px"> Been part of school Cricket,Athletics & Volleyball team.</td>
                </tr>
                <tr>
                  <th rowspan="2">Management</th>
                  <td style="padding-left: 20px"> • Organised Blood Donation Camp at school managing a team of 30 students, participation
of 300+ donors.</td>
                </tr>
                <tr>
                  <td style="padding-left: 20px"> • Been part of Event Management and Publicity team for society.</td>
                </tr>
              </table>
          </div>
        </div> 
  </div>	
  {% endblock %}
<!-- 
</body>
</html>
-->


              
              