{% extends "layout/core-layout.html" %}
{% load static from staticfiles %}

{% block title %}
  About | Gursahib Singh
{% endblock %}    
{% block style %}
<style type="text/css">

#nav-link_about{
  background-color: #ffdcba;
      color:#2e2e2e !important;
}
.card{
  min-height: 350px;
  max-height: 350px;
}
  .navbar {
    background-color: #2e2e2e !important;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
  }

  /* The Close Button */
  .close {
    color: #ffffff;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #AEFF00;
    text-decoration: none;
    cursor: pointer;
  }
  h1,p,h4{
    color: white;
  }
  @media only screen and (max-width: 767px) {
    .card-img-top{
      width:450px !important;
    }
  }
</style>
{% endblock %}

{% block banner %}
<section id="banner" style="width:100%;height:50%;/*background-image: url({% static 'img/banner.png' %}*/background-color: #2e2e2e;background-size: cover;background-position: center;
  background-repeat: no-repeat;">
  <h1 class="offset-md-1" style="text-decoration: underline; font-family: Orbitron;margin-top: 50px;">ABOUT</h1>
  <div class="row" style="margin-top: 0px;">
    <div class="col-md-5 col-sm-12 offset-md-1" style="border-right: white 2px solid;">
      <h4 style="text-align: justify;margin-right: 20px;font-family: Chilanka">The gist of the 'About' section is at the home page which defines me as a Computer Engineer, Thinker & Learner. More details follow on right.</h4>
      <h4 style="text-align: justify;margin-right: 20px;font-family: Chilanka">To know about my current role & internship projects, head over to the <a href="http://gursahibsingh.herokuapp.com/projects" target="_blank" style="color: #ffdcba;font-family: Orbitron">Projects</a> page.</h4>
    </div>
    
    <div  class="col-md-5 col-sm-12" style="text-align: justify;">
      <p style="margin-left: 20px;font-family: Livvic;">I come from Ludhiana, a city that has been my home from infancy till adolescence. Then I moved to Patiala for my graduation. And currently I'm in Noida working as Member Technical Staff at Mentor Graphics. I belong to that category of people who love to question things that we come across on daily basis. I just love exercising my body & mind (this has a much deeper meaning). I don't complicate things and stay away from formalities. More importantly, I'm the same version of me everywhere!</p>
      <p style="font-size:12px;margin-left: 20px;margin-bottom: 5px;font-family: Livvic; text-align: right">And...I'm single! &#128540;</p>
    </div>
  </div>
  </section>
{% endblock %}

{% block content %}

<div class="container" id="aboutCardContainer" style="margin-top: 20px;margin-bottom: 20px;background-color: #ababab">
  <div class="row"  style="padding-top: 20px">
    <div class="col-md-3 col-sm-6 ">
      <div class="card " style="background-color: #fa625f">
        <img class="card-img-top" src="{% static 'img/software.jpg' %}" alt="Software Competencies">
        <div class="card-body  d-flex flex-column">
          <h5 class="card-title">Software Competencies</h5>
          <p class="card-text" style="color: black">The most awaited information on this website!</p>
          <button id="SoftwareCompetencies" class="mt-auto btn" style="background-color:#000000;color: #fa625f;font-weight: 700">Find Out!</button>
        </div>  
      </div>        
    </div>
    <div class="col-md-3 col-sm-6 ">
      <div class="card text-white" style="background-color: #49494b">
        <img class="card-img-top" src="{% static 'img/qualification.jpg' %}" alt="Academic Qualifications">
        <div class="card-body  d-flex flex-column">
          <h5 class="card-title">Academic Qualifications</h5>
          <p class="card-text">My past doesn't really haunt me!</p>
          <button id="AcademicQualifications" class="mt-auto btn"style="background-color:#ffffff;color: #49494b;font-weight: 700">Find Out!</button>
        </div>  
      </div>
    </div>
  <!-- </div> -->
  <!-- <div class="row"  style="padding-top: 20px;padding-bottom: 20px"> -->
    <div class="col-md-3 col-sm-6 ">
      <div class="card " style="background-color: #fa625f">
        <img class="card-img-top" src="{% static 'img/achievements.jpg' %}" alt="Academic Achievements">
        <div class="card-body  d-flex flex-column">
          <h5 class="card-title">Academic Achievements</h5>
          <p class="card-text" style="color: black">Ok, I think I can reflect on something special!</p>
          <button id="AcademicAchievements" class="mt-auto btn"style="background-color:#000000;color:#fa625f;font-weight: 700">Find Out!</button>
        </div>  
      </div>       
    </div>
    <div class="col-md-3 col-sm-6 ">
      <div class="card text-white" style="background-color:#49494b;">
        <img class="card-img-top" src="{% static 'img/extra.gif' %}" alt="Extra Curricular Activities">
        <div class="card-body  d-flex flex-column">
          <h5 class="card-title">Extra Curricular Activities</h5>
          <p class="card-text">I'm like Jack who becomes dull if he doesn't play.</p>
          <button id="ExtraCurricular" class="mt-auto btn"style="background-color:#ffffff;color: #49494b;font-weight: 700">Find Out!</button>
        </div>  
      </div>
    </div>
  </div>
</div>
<div id="aboutModal" class="modal" >

  <!-- Modal content -->
  <div class="modal-content" style="background-color:  #243D42;">
    <span id="closeBtn"class="close justify-content-end">&times;</span>
    <div id="modelText"></div>
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
window.onload = myMain;

function myMain() {
  document.getElementById("aboutCardContainer").onclick = buton;
}

var temp;
function buton(e) {
  if (e.target.tagName == 'BUTTON') {
    //var filename = 'home/'.concat('text',e.target.id,'.txt')
    var filename='text'.concat(e.target.id,'.html')
    var self=this
    var contents=""
    
    $.ajax({
      url: "{% url 'get_ajax' %}",
      type: 'POST',
      cache: false,
      data: {'filename':filename},
      success:function(result){
        // console.log(result);
        document.getElementById('modelText').innerHTML= result;
        // result=""
      }
    });
    //document.getElementById('modelText').innerHTML = selfcontents
    var modal = document.getElementById('aboutModal');
    modal.style.display = "block";  
  }
}

// Get the modal
var modal = document.getElementById('aboutModal');

// Get the button that opens the modal
//var btn = document.getElementById("btnRead");


// Get the <span> element that closes the modal
var span = document.getElementById("closeBtn");


// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  document.getElementById('modelText').innerHTML=""
  modal.style.display = "none";
}


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
  
}
</script>
{% endblock %}              