#footer {
    background-color: var(--accent-clr);
    width: 100vw;
    height: fit-content;
}

#contactContainer {
    color: var(--primary-clr)
}

#textContact {
    text-align: center;
    font-family: var(--font-heading);
    letter-spacing: 0.3125rem;
    margin-bottom: 1.875rem;
    text-transform: uppercase;
}

#linksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emailContainer a {
    font-size: 1.875rem;
}

#socialMediaContainer {
    display: flex;
    justify-content: center;
    margin-top: 0.625rem
}

ul {
    list-style-type: none;padding: 0;display: inline;
}

li {
    float: left;padding-right: 0.625rem;font-size: 1.875rem;
}

li a {
    color: var(--primary-clr)
}

.footer_copyright {
    color: var(--secondary-clr);
}

.footer_copyright a{
    color: var(--secondary-clr);
}