.navbar {
    z-index: 1;
    margin-bottom: 1.25rem;
    box-shadow: 0px 1px 3px #C4B993;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.nav-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-clr);
}

.nav-item:hover .nav-link{
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    transition: background-color 300ms linear;
    font-size: 1.1rem;
}

.custom-toggler.navbar-toggler {
    border-color: #FB9039;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 221, 186)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar li {
    margin: 0 0.3125rem
}

@media (min-width: 768px) { 
    .nav-link {
        font-size: 1.5rem;
    }
    .nav-item:hover .nav-link {
        font-size: 1.6rem;
    }
    .navbar li {
        margin: 0 0.625rem
    }
}

@media (min-width: 992px) {
    .nav-link {
        font-size: 1.75rem;
    }
    .nav-item:hover .nav-link {
        font-size: 1.85rem;
    }
}

@media (min-width: 1200px) { 
    .nav-link {
        font-size: 2.25rem;
    }
    .nav-item:hover .nav-link {
        font-size: 2.35rem;
    }
}