{% extends "layout/core-layout.html" %}
{% load static from staticfiles %}
{% block style %}
<style type="text/css">
    #banner{
        height:0.0625rem;
    }
</style>
{% endblock %}

{% block banner %}
<section id="banner">
   <!--  <h1 id="header_greeting" > Sat Sri Akaal</h1>
    <h1 id="header_name"> Gursahib Singh</h1>
    <h4 id="header_summary"> COMPUTER ENGINEER | THINKER | LEARNER</h4>
    <p id="header_description">Currently working as Member Technical Staff at Mentor Graphics, Noida</p> -->
</section>
<!-- <section style="background-color: var(--secondary-clr)">
    
</section> -->
  <!-- <section id="banner" style="padding: 0px; background-size: contain;">
<img src="{% static 'img/landing_page.png' %}" >
  </section> -->
{% endblock %}

{% block content %}
<section>
    <div class="section-container">
        <div class="content_image light-bg">
            <h1 class="headings">ABOUT</h1>     
        </div>
        <!-- <div class="vertical-line"></div> -->
        <div class="content_text left-border dark-bg" style="display:inline-block;">
            <p class="content-para-light"> I belong to that category of people who love to question things that we come across on daily basis. I just love exercising my body & mind (this has a much deeper meaning). I don't complicate things and stay away from formalities. More importantly, I'm the same version of me everywhere!</p>
        </div>
    </div>
</section>

<section class="dark-bg">
    <div class="section-container">
        <div class="content_text light-bg right-border">
            <p class="content-para-dark"> My interests in different areas have led me to do a variety of projects. I've completed various projects during my academics and professional career. More information regarding them can be found under 'Projects' tab.</p>
        </div>
        <!-- <div class="vertical-line"></div> -->
        <div class="content_image dark-bg">
            <h1 class="headings">Projects</h1>
        </div>
    </div>
</section>

<h1 class="headings">Pillars of Strength</h1>
<!-- #################### CARDS ########################### -->
<section class="cardContainer">
    <div class="section-container" style="justify-content: space-between;flex-wrap: wrap"> 
        <div class="my-card">
            <img class="card-img-top" src="{% static 'img/gym.jpg' %}" alt="Weight Training">
            <div class="card-body">
                <h5 class="card-title" style="">Exercise</h5>
                <p class="card-text">There is a strong reason for why everyone is crazy about fitness.</p>
            </div>
        </div>       

        <div class="my-card">
            <img class="card-img-top" src="{% static 'img/finance.jpg' %}" alt="Finance">
            <div class="card-body">
                <h5 class="card-title">Games/Music/Movies</h5>
                <p class="card-text">I too have the most common hobbies.</p>
            </div>
        </div>

        <div class="my-card">
            <img class="card-img-top" src="{% static 'img/read.jpg' %}" alt="Read">
            <div class="card-body">
                <h5 class="card-title">Reading</h5>
                <p class="card-text">They say books are a man's best friend. They are absolutely right!</p>
            </div>  
        </div>       

        <div class="my-card">
            <img class="card-img-top" src="{% static 'img/self.jpg' %}" alt="Self Improvement">
            <div class="card-body">
                <h5 class="card-title">Self Improvement</h5>
                <p class="card-text">Kyunki, sabse zyada time ham khud ke saath hi rehte hain.</p>
            </div>  
        </div>
    </div>
</section>

<section class="dark-bg">
    <div class="section-container">
        <div class="content_image dark-bg">
            <h1 class="headings">Blogs</h1>
        </div>
        <!-- <div class="vertical-line"></div> -->
        <div class="content_text light-bg left-border">
            <p class="content-para-dark"> I'm not a professional blog writer but I do like to express my experiences. My first blog describes the experiences from my Thailand trip which can be used as a guide for a better vacation time.</p>
        </div>
    </div>
</section>

{% endblock %}



{% block script %}
<script type="text/javascript">
</script>
{% endblock %}