{% extends "layout/core-layout.html" %}

{% block content %}
<div class="container"> 
<div class="row" style="margin-left: 20px;margin-right: 20px;">

	<div class="col-md-9" style="background-color: #d8c3a5;height:400px;">


		<blockquote class="blockquote-reverse">
			GOOD PLAYERS WIN RACES.<br/>
			GREAT ONES BREAK RECORDS.<br/>
			<mark>LEGENDS</mark> CHANGE THE GAME.<br/>
			<FOOTER>Anonymous</FOOTER>
		</blockquote>
		<p style="padding-left: 30px;font-size: 25px; margin-top: 3px">
			Hi!<br/>
			Here you'll find all the information related to my academics, projects & interests. Also, I've dedicated a section to personal blog. Do check it out as well.  
		</p>
	</div>
	<div class="col-md-3" style="height: 400px; background-color: #c0b2a3">
		<h3 style="padding-left: 20px">INTERESTS</h3>
		<ul style="font-size: 20px">
			<li>Computers</li>
			<li>Cricket</li>
			<li>Weight Training</li>
			<li>Music</li>
			<li>Literature</li>
			<li>Finance</li>
			<li>Dance</li>	
		</ul>
	</div>
</div> 
</div>
{% endblock %}