{% extends "layout/core-layout.html" %}
{% load static from staticfiles %}

{% block title %}
  Projects | Gursahib Singh
{% endblock %}    
{% block style %}
<style type="text/css">
    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }

    .accordion-item {
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
    }

    .accordion-header button, .accordion-body{
        color: var(--primary-clr);
    }

    #banner{
        /*height:25rem;*/
    }

    #nav-link_projects{
        background-color: rgba(251, 144, 57,0.7);
        transition: background-color 300ms linear;
    }

    .content-para-dark{
        flex: 0 1 50%;
    }

    .accordion-item{
        background-color: var(--secondary-clr);
    }

    .text-highlight{
        font-family: var(--font-highlight);
        color: var(--accent-clr);
        text-decoration: bold;
    }

    h4{
        color: white;
    }

    @media only screen and (max-width: 444px) {
        #banner{
            /*height:30rem;*/
        }

        section{
            height: 40rem;
        }
    }

</style>
{% endblock %}


{% block banner %}
<div class="section" id="banner">
    <div class="section-container" style="flex-direction: column;">
        <h1 class="headings" style="">PROJECTS</h1>
        <div class="content_text light-bg" style="display: flex;">
            <p class="content-para text-dark font-1_5 right-border"> I've tried doing projects in many seemingly intereseting fields. The range of areas that I've worked upon are Web Development, Machine Learning, App Development(very basic), and Scripting.</p>
            <p class="content-para text-dark font-1_5"> I plan to work more on the Cloud and Automation tools that will eventually help stand in sync with the changing world</p>    
        </div>
    </div>
</div>
    

{% endblock %}

{% block content %}
<div class="section">
    <div class="section-container">
        <div class="content_image light-bg">
            <h1 class="headings">CURRENT ROLE</h1>     
        </div>
        <div class="content_text left-border dark-bg" style="display:inline-block;">
            <p class="content-para text-light">Currently I'm in the infrastructure team and my responsibilities include <span class="text-highlight">Release, Regressions & Build </span>of one of our products. Apart from this, I handle the existing <span class="text-highlight">infrastructure</span> and also provide <span class="text-highlight">automation</span>. The work typically revolves around developing scripts in <span class="text-highlight">Shell, Perl & Python </span>on a <span class="text-highlight">Linux</span> based environment and using <span class="text-highlight">Perforce</span> to take care of versioning.</p>
        </div>
    </div>
</div>

<div class="dark-bg">
    <div class="section-container">
        <div class="content_text light-bg right-border" style="display:inline-block;">
            <p class="content-para text-dark">I did my internship from Mentor Graphics. My responsibility was to enhance the department's website and also introduce some new features. I learnt <span class="text-highlight">Django, Shell & Perl scripting, JavaScript, VueJs(Front-end Framework)</span>. Apart from enhancing the existing web apps, I was given a project to develop a new app whose function would be to display the data graphically using tables and charts. I learnt <span class="text-highlight">D3.js(JavaScript library)</span> to create beautiful graphics. </p>
            <p style="margin-top: 0.4rem;font-family: var(--font-text);font-size: 1rem">*No demo is available as the website is hosted on company's intranet and the data is confidential.</p>
        </div>
        <div class="content_image dark-bg">
            <h1 class="headings">INTERNSHIP</h1>
        </div>
    </div>
</div> 


<h1 class="headings" style="">ACADEMIC PROJECTS</h1>
<div class="accordion accordion-flush" id="AcademicProjectsAccordian">
  <div class="accordion-item">
    <h2 class="accordion-header" id="AP-headingOne" >
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#AP-collapseOne" aria-expanded="false" aria-controls="AP-collapseOne">
        Capstone Project: Conducting Bolster
      </button>
    </h2>
    <div id="AP-collapseOne" class="accordion-collapse collapse" aria-labelledby="AP-headingOne" data-bs-parent="#AcademicProjectsAccordian">
      <div class="accordion-body">
            Aim: To design a pillow with an embedded alarm which tracks sleep and wakes up using bone conduction technology.
            <br><br>
            Methodology: Conduct a research on topic ‘Bone Conduction’ and assemble various electrical components such as piezoelectric transducers, Bluetooth transmitter etc. to form required circuit. All requirement were gathered in Software Requirement Specification document.
            <br><br>
            Design Specification: Proposed the project and depicted various components through System Architecture Diagram, Component Diagram, Design Level Diagram, Cost Analysis and Work Breakdown Structure.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="AP-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#AP-collapseTwo" aria-expanded="false" aria-controls="AP-collapseTwo">
        Stock Price Prediction using Machine Learning
      </button>
    </h2>
    <div id="AP-collapseTwo" class="accordion-collapse collapse" aria-labelledby="AP-headingTwo" data-bs-parent="#AcademicProjectsAccordian">
        <div class="accordion-body">
            Aim: To predict future price of stocks based upon past and current data.
            <br><br>
            Research: Effect of human bias on input variables of a machine learning model.
            <br><br>
            Methodology: Data Gathering, Data Cleaning, Initial prediction using Linear Regression Model.
            <br><br>
            Tools: Python, Numpy, Pandas, Quandl, Scikit-learn, Matplotlib
        </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="AP-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#AP-collapseThree" aria-expanded="false" aria-controls="AP-collapseThree">
        Personal Website
      </button>
    </h2>
    <div id="AP-collapseThree" class="accordion-collapse collapse" aria-labelledby="AP-headingThree" data-bs-parent="#AcademicProjectsAccordian">
        <div class="accordion-body">
            Aim: To create a web-based detailed profile which can be easily shared.
            <br><br>
            Methodology: Designing the website, Preparing the architecture.
            <br><br>
            Tools: HTML/CSS, JavaScript, Django, Python
        </div>
    </div>
  </div>
</div>

<h1 class="headings" style="">PROFESSIONAL PROJECTS</h1>
<div class="accordion accordion-flush" id="ProfessionalProjectsAccordian">
  <div class="accordion-item">
    <h2 class="accordion-header" id="PP-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PP-collapseOne" aria-expanded="false" aria-controls="PP-collapseOne">
        Infrastructure Dashboard
      </button>
    </h2>
    <div id="PP-collapseOne" class="accordion-collapse collapse" aria-labelledby="PP-headingOne" data-bs-parent="#ProfessionalProjectsAccordian">
        <div class="accordion-body">
            -> Developed new features in the Infrastructure Dashboard that helped R&D to have a better view over product regression and release related data.
            <br>
            -> It involved extracting data from various log files and then processing it using Python and JSON.
            <br>
            -> Finally displaying it with the help of Flask, JavaScript, HTML and CSS keeping in mind interactive user experience.
        </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="PP-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PP-collapseTwo" aria-expanded="false" aria-controls="PP-collapseTwo">
        Directory for Test Case Repository
      </button>
    </h2>
    <div id="PP-collapseTwo" class="accordion-collapse collapse" aria-labelledby="PP-headingTwo" data-bs-parent="#ProfessionalProjectsAccordian">
        <div class="accordion-body">
            -> The aim of the project was to develop a ‘phone directory’ type structure for the test case repository to help find which test case belongs to which group.
            <br>
            -> The core concepts used were recursion, stack, DFS.
            <br>
            -> The project helped R&D, QA and Infrastructure team extensively to find information about test cases in a very convenient way and thus saving a lot of precious time and effort.
        </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="PP-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PP-collapseThree" aria-expanded="false" aria-controls="PP-collapseThree">
        Reorganization of Product Infrastructure
      </button>
    </h2>
    <div id="PP-collapseThree" class="accordion-collapse collapse" aria-labelledby="PP-headingThree" data-bs-parent="#ProfessionalProjectsAccordian">
        <div class="accordion-body">
            -> The project involved planning, designing and reorganizing the infrastructure of one of our products.
            <br>
            -> It involved developing new scripts and modifying existing tools to cater the need for product build and regression system.
            <br>
            -> All the supporting tools and scripts were modified with negligible downtime and interruption of R&D system.
        </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
</script>
{% endblock %}              