{% extends "layout/core-layout.html" %}

	  {% block content %}
	  <div class="container">
		  <div class="row" style="margin-left: 20px;margin-right: 20px;">
			  <div class="col-md-12" style="background-color: #d8c3a5;height:400px;">
				  <div>
					  <h1>Machine Learning Project</h1>
					  <h2>Title - Stock Price Predictor</h2>
					  <h2>Introduction</h2>
					  <p>The project demonstrates basics of Machine Learning via implementation of a model which can help predict the stock prices.<p>
					  <h2>Libraries Used</h2>
					  <ul>
					  	<li>Pandas</li>
					  	<li>Pandas Datareader</li>
					  	<li>Numpy</li>
					  	<li>Datetime</li>
					  	<li>Matplotlib</li>
					  	<li>Sklearn</li>
					  	<li>Quandl</li>
					  </ul>
					  <h2>Methodology</h2>
					  <ul>
					  	<li>Initially start date and end date for a period of consideration is defined using <span style="text-decoration-style: bold">Datetime</span></li>
					  	<li>Then, datareader is used to get data related to particular stock</li>
					  	<li>The data frame is pre-processed using numpy</li>
					  	<li>Last <span style="text-decoration-style: italic">n</span> days data is separated and saved as forecast. This constitutes the resultant set</li>
					  	<li>Data is split between training and testing data.</li>
					  	<li>Linear Regression model is used on the training and testing data</li>
					  
					  <h2>Project Link</h2>

					  </ul>

				  </div>
			  </div>
		  </div> 
	  </div>

	  {% endblock %}
	  