{% extends "layout/core-layout.html" %}
{% load static from staticfiles %}


    {% block title %}
      Web Development Project | Gursahib Singh
    {% endblock %}

    {% block style %}
    <style type="text/css">
      .navbar {
        background-color: #2e2e2e !important;
      }
      .navbar .navbar-brand img{
        content:url("{% static 'img/Logo_red_final.png' %}");
      }
      #nav-link_projects{
  background-color: #fa625f;
      color:#2e2e2e !important;
      transition: background-color 300ms linear;
}
    .navbar .nav-link {
    /*color:#fff !important;*/
    color:#fa625f !important;
    }

    .navbar .nav-link:hover {
    /*color:#fff !important;*/
     background-color: #fa625f;
      color:#2e2e2e !important; 
      transition: background-color 300ms linear;
    }
    </style>
    {% endblock %}

    {% block content %}
    <div class="container-fluid">
        <div class="row" style="margin-left: 60px;margin-right: 20px;">
          <div class="col-md-12" style="background-color: #ffffff">
            <h1>Web Development Project</h1>
            <h2>Title- Personal Website</h2>
            <h2>Introduction</h2>
            <h6>The website demonstrated the use of core Web Development concepts and presents a digital, detailed and intuitive biodata</h6>
            <h2>Tools & Technologies used</h2>
            <ul>
              <li>
                <h5> Architecture - Python/Django</h5>
              </li>
              <li>
                <h5> FrontEnd - HTML, CSS, JavaScript, Ajax</h5>
              </li>
            </ul>
            
            <h2>Features</h2>
            <ul>
              <li>
                <h6>Homepage lists down the interest areas</h6>
              </li>
              <li>
                <h6>Separate section 'About' to get information about academics, technical skills &extra curricular activities</h6>
              </li>
              <li>
                <h6>Separate section for projects done till now</h6>
              </li>
            </ul>

            <h2>Demo</h2>
              <h6>You are currently viewing it!</h6>
          </div>
        </div> 
    </div>
  </div>	
  {% endblock %}
