{% extends "layout/core-layout.html" %}

    {% block content %}
    <div class="container">
        <div class="row" style="margin-left: 20px;margin-right: 20px;">
          <div class="col-md-12" style="background-color: #d8c3a5;height:400px;">
            <h1>Web Development Project</h1>
            <h2>Title- Personal Website</h2>
            <h2>Introduction</h2>
            <p></p>
            <h2>Tools & Technologies used</h2>
            <h2>Features</h2>

          </div>
        </div> 
    </div>
  </div>	
  {% endblock %}
