{% extends "layout/core-layout.html" %}
{% load static from staticfiles %}


    {% block title %}
      Android Project | Gursahib Singh
    {% endblock %}

    {% block style %}
    <style type="text/css">
      .navbar {
        background-color: #2e2e2e !important;
      }
      .navbar .navbar-brand img{
        content:url("{% static 'img/Logo_red_final.png' %}");
      }
      #nav-link_projects{
  background-color: #fa625f;
      color:#2e2e2e !important;
      transition: background-color 300ms linear;
}
    .navbar .nav-link {
    /*color:#fff !important;*/
    color:#fa625f !important;
    }

    .navbar .nav-link:hover {
    /*color:#fff !important;*/
     background-color: #fa625f;
      color:#2e2e2e !important; 
      transition: background-color 300ms linear;
    }
    </style>
    {% endblock %}

    {% block content %}
    <div class="container-fluid">
        <div class="row" style="margin-left: 60px;margin-right: 20px;">
          <div class="col-md-12" style="background-color: #ffffff">
            <h1>Android App Development Project</h1>
            <h2>Title- Workout Assistant</h2>
            <h2>Introduction</h2>
            <h6>The app serves the purpose to easily track workouts by adding custom exercises. Workout volume is calculated by entering sets, reps and weight. This helps to track progresses in each workout session</h6>
            <h2>Methodology</h2>
            <ul>
              <li>
                <h6>Android Studio used to build the app and also test on android emulator</h5>
              </li>
            </ul>
            
            <h2>Features</h2>
            <ul>
              <li>
                <h6>Simple and intuitive UI</h6>
              </li>
              <li>
                <h6>Can add custom exercises (which may not be standard)</h6>
              </li>
              <li>
                <h6>Easily divide exercises according to body part</h6>
              </li>
            </ul>
            <h2>Future Work</h2>
            <ul>
              <li><h6>Suggestions for exercises based on body part</h6></li>
              <li><h6>Track diet as well</h6></li>
              <li><h6>Suggest workout plans based on personal goal</h6></li>
            </ul>

          </div>
        </div> 
    </div>
  </div>  
  {% endblock %}
