{% extends "layout/core-layout.html" %}

    {% block content %}
    <div class="container-fluid">
        <div class="row" style="margin-left: 20px;margin-right: 20px;">
          <div class="col-md-12" style="background-color: #DDDDDD;border-style: solid">
            <h1>Web Development Project</h1>
            <h2>Title- Personal Website</h2>
            <h2>Introduction</h2>
            <h6>The website demonstrated the use of core Web Development concepts and presents a digital, detailed and intuitive biodata</h6>
            <h2>Tools & Technologies used</h2>
            <ul>
              <li>
                <h5> Architecture - Python/Django</h5>
              </li>
              <li>
                <h5> FrontEnd - HTML, CSS, JavaScript, Ajax</h5>
              </li>
            </ul>
            
            <h2>Features</h2>
            <ul>
              <li>
                <h6>Homepage lists down the interest areas</h6>
              </li>
              <li>
                <h6>Separate section 'About' to get information about academics, technical skills &extra curricular activities</h6>
              </li>
              <li>
                <h6>Separate section for projects done till now</h6>
              </li>
            </ul>

          </div>
        </div> 
    </div>
  </div>	
  {% endblock %}
