{% extends "layout/core-layout.html" %}

    {% block content %}
    <div class="container-fluid">
        <div class="row" style="margin-left: 20px;margin-right: 20px;">
          <div class="col-md-12" style="background-color: #DDDDDD;border-style: solid">
            <h1>Database Management Project</h1>
            <h2>Title- Database Management of Online Multiplayer Gaming</h2>
            <h2>Introduction</h2>
            <h6></h6>
            <h2>Methodology</h2>
            <ul>
              <li>
                <h5> </h5>
              </li>
              <li>
                <h5></h5>
              </li>
            </ul>
            
            <h2>Components</h2>
            <ul>
              <li>
                <h6></h6>
              </li>
              <li>
                <h6></h6>
              </li>
              <li>
                <h6></h6>
              </li>
            </ul>

          </div>
        </div> 
    </div>
  </div>  
  {% endblock %}
