{% extends "layout/core-layout.html" %}
{% load static from staticfiles %}


	  {% block title %}
  		Machine Learning Project | Gursahib Singh
	  {% endblock %}
	  
	  {% block style %}
	  <style type="text/css">
	  	.navbar {
    		background-color: #2e2e2e !important;
  		}
  		.navbar .navbar-brand img{
        content:url("{% static 'img/Logo_red_final.png' %}");
      }
  		#nav-link_projects{
  background-color: #fa625f;
      color:#2e2e2e !important;
      transition: background-color 300ms linear;
}
    .navbar .nav-link {
    /*color:#fff !important;*/
    color:#fa625f !important;
    }

    .navbar .nav-link:hover {
    /*color:#fff !important;*/
     background-color: #fa625f;
      color:#2e2e2e !important; 
      transition: background-color 300ms linear;
    }
  	</style>
	  {% endblock %}
	  
	  {% block content %}
	  <div class="container-fluid" style="margin-top: 60px;margin-bottom: 20px">
		  <div class="row" style="margin-left: 20px;margin-right: 20px;">
			  <div class="col-md-12" style="background-color: #ffffff;">
				  <div>
					  <h1>Machine Learning Project</h1>
					  <h2>Title - Stock Price Predictor</h2>
					  <h2>Introduction</h2>
					  <h6>The project demonstrates basics of Machine Learning via implementation of a model which can help predict the stock prices.</h6>
					  <h2>Libraries Used</h2>
					  <ul>
					  	<li><h6>Pandas</h6></li>
					  	<li><h6>Pandas Datareader</h6></li>
					  	<li><h6>Numpy</h6></li>
					  	<li><h6>Datetime</h6></li>
					  	<li><h6>Matplotlib</h6></li>
					  	<li><h6>Sklearn</h6></li>
					  	<li><h6>Quandl</h6></li>
					  </ul>
					  <h2>Methodology</h2>
					  <ul>
					  	<li><h6>Initially start date and end date for a period of consideration is defined using <span style="text-decoration-style: bold">Datetime</span></h6></li>
					  	<li><h6>Then, datareader is used to get data related to particular stock</h6></li>
					  	<li><h6>The data frame is pre-processed using numpy</h6></li>
					  	<li><h6>Last <span style="text-decoration-style: italic">n</span> days data is separated and saved as forecast. This constitutes the resultant set</h6></li>
					  	<li><h6>Data is split between training and testing data.</h6></li>
					  	<li><h6>Linear Regression model is used on the training and testing data</h6></li>
					  </ul>
					  <h2>Project Link</h2>
					  <a target="_blank" href="https://github.com/codesahib/Machine-Learning-Projects/tree/master/Project-Stock%20Price%20Prediction">https://github.com/codesahib/Machine-Learning-Projects/tree/master/Project-Stock%20Price%20Prediction</a>
				  </div>
			  </div>
		  </div> 
	  </div>

	  {% endblock %}
	  