<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #999999">
	<!--Heading-->
	<div class="jumbotron" style="padding-top: 10px;padding-bottom: 10px;margin-bottom: 0px;">
    	<h1 style="text-align: center;">Gursahib Singh</h1> 
    	<p style="text-align: center;">Computer Engineer</p> 
	</div>


	<!--Navigation bar-->
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="file:///F:/Projects/Website/MainPage.html">GS</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">About</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">ML</a></li>
          <li><a href="#">Web</a></li>
          <li><a href="#">Android</a></li>
        </ul>
      </li>
      <li><a href="#">Blog</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="padding-right: 10px">
      <li class="active"><a href="file:///F:/Projects/Website/ContactPage.html">Contact</a></li>
    </ul>
  </div>
</nav>

	<div class="row" style="margin-left: 20px;margin-right: 20px;">
	<div class="col-md-12" style="background-color: #eeeeee;height:400px;">
		<h1>Reach out to me via:-</h1>
		<ul style="font-size: 25px">
			<li>Phone: 9999999999 </li>
			<li>Email: random@gmail.com</li>
			<li>Github: </li>
			<li>LinkedIn: </li>

		</ul>
	</div>
	

</div> 
	
</body>
</html>