:root {
  --primary-clr: #FCFCF5;
  --secondary-clr: #4d4855;
  --accent-clr: #C4B993;

  --large-padding: 3rem;
  --medium-padding: 2rem;
  --small-padding: 1rem;

  --font-text: Livvic;
  --font-heading: Orbitron;
  --font-highlight: Righteous;

  --font-size-small: 1rem;
  --font-size-1: 1rem;
  --font-size-1_5: 1.5rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
