<nav class="navbar navbar-expand-lg  nav-full w-100" style="background-color:  #243D42;">
  <a class="navbar-brand" href="http://gursahibsingh.herokuapp.com/home" style="color: #AEFF00;font-size: 18px;font-style: italic;">Gursahib Singh</a>

  <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"  >
    <span class="navbar-toggler-icon" ></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://gursahibsingh.herokuapp.com/about" style="color :#AEFF00">About</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color :#AEFF00">
          Projects
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:  #243D42;">
          <li><a class="dropdown-item" href="http://gursahibsingh.herokuapp.com/projects/ml" target="_blank" style="color :#AEFF00">Machine Learning</a></li>
          <li><a class="dropdown-item" href="http://gursahibsingh.herokuapp.com/projects/web" target="_blank" style="color :#AEFF00">Web Development</a></li>
          <li><a class="dropdown-item dropdown-toggle" href="#" style="color :#AEFF00">Others</a>
            <ul class="dropdown-menu" style="background-color:  #243D42;">
              <li><a class="dropdown-item" href="http://gursahibsingh.herokuapp.com/projects/dbms" style="color :#AEFF00">DBMS</a></li>
              <li><a class="dropdown-item" href="http://gursahibsingh.herokuapp.com/projects/android" style="color :#AEFF00">Android</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <!-- <div class="tooltip">
        <span class="tooltiptext">Not available yet</span> -->
        <form class="form-inline my-2 my-lg-0" title="Feature not available yet">
          <fieldset disabled="disabled" >
            <input class="form-control mr-sm-2 " type="text" placeholder="Search" aria-label="Search" >
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: #AEFF00;font-size: 18px" >Search</button>
          </fieldset>
        </form>
      <!-- </div> -->
    </ul>
  </div>
</nav>